@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

body {
    line-height: 1;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.iphonex {
    background-size: auto 100% !important;
}

.blessing-wrapper,
.blessing-bj:before {
    min-height: 100%;
    background: url(../images/belessimg_bj.jpg) no-repeat center top;
    background-size: 100% auto;
}

.blessing-bj:before {
    content: ' ';
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/blessing_list.jpg);
    background-attachment: fixed;
}

.blessing-wrapper .empty {
    height: 1.95rem;
}

.blessing-wrapper .video-frame {
    position: relative;
    left: 0;
    top: 0;
    z-index: 9;
    width: 7.5rem;
    height: 9.53rem;
    background: url(../images/video_frame.png) no-repeat;
    background-size: 100% 100%;
}

.blessing-wrapper .frame-bottom {
    position: absolute;
    left: 1.48rem;
    top: 2.35rem;
    z-index: 1;
    width: 4.53rem;
    height: 6.80rem;
    overflow: hidden;
    background: #000;
}

.blessing-wrapper .frame-bottom img {
    min-width: 100%;
    min-height: 100%;
}

.blessing-wrapper .frame-top {
    position: absolute;
    left: 1.42rem;
    top: 2.76rem;
    z-index: 10;
    width: 4.67rem;
    height: 6rem;
}

.user-info {
    display: flex;
}

.user-info .avatar {
    margin: 0 0.2rem 0 0.3rem;
    flex: 0 0 0.76rem;
    width: 0.76rem;
    height: 0.76rem;
    background: #f00;
    border-radius: 50%;
    overflow: hidden;
}

.user-info .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-info .nick-name {
    flex: 1;
    padding-right: 0.2rem;
    font-size: 0.24rem;
    line-height: 0.76rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blessing-wrapper .frame-top .start-btn,
.blessing-wrapper .frame-top .restart-btn {
    position: absolute;
    left: 1.66rem;
    bottom: 0;
    width: 1.56rem;
    height: 1.42rem;
    background: url(../images/start_btn.png) no-repeat;
    background-size: 100% 100%;
}

.blessing-wrapper .frame-top .start-btn .start,
.blessing-wrapper .frame-top .restart-btn .start {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    fill: alpha(opacity=0);
}

.blessing-wrapper .frame-top .start-btn {
    transform-origin: center;
    animation: btn-slow 1.8s infinite;
}

@keyframes btn-slow {
    0% {
        transform: scale(0.93);
        opacity: 0.9;
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.93);
        opacity: 0.9;
    }
}

.blessing-wrapper .frame-top .restart-btn {
    display: none;
    background-image: url(../images/restart_btn.png);
}

.blessing-wrapper .upload {
    margin: 0.36rem auto 0;
    width: 1.61rem;
    height: 0.76rem;
    background: url(../images/upload.png) no-repeat;
    background-size: 100% 100%;
}

.blessing-wrapper .blessing-wall {
    margin: 0.3rem auto 0;
    padding-bottom: 0.37rem;
    width: 2.3rem;
    height: 1.97rem;
    background: url(../images/blessing_wall.png) no-repeat center top;
    background-size: 2.3rem 1.97rem;
}
.blessing-wrapper .blessing-play{
    margin-top:0.8rem;
    height: 1.28rem;
    background-image: url(../images/blessing_wall@230.png);
    background-size: 2.3rem 1.28rem;
}
.blessing-wrapper .blessing-wall a {
    display: block;
    width: 100%;
    height: 100%;
}

.blessing-list .fixed-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    width: 7.5rem;
    height: 2.09rem;
    background: url(../images/fixed.png) no-repeat;
    background-size: 100% 100%;
}

.blessing-list .blessing-items {
    padding: 2.09rem 0 0 0.34rem;
    overflow: hidden;
}

.blessing-list .blessing-items .items {
    float: left;
    position: relative;
    margin-bottom: 0.24rem;
    width: 3.29rem;
    height: 4.58rem;
}

.blessing-list .blessing-items .items:nth-child(odd) {
    margin-right: 0.23rem;
}

.blessing-list .blessing-items .items .items-bottom {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden
}

.blessing-list .blessing-items .items .items-bottom img {
    width: 100%;
    height: auto;
}

.blessing-list .blessing-items .items .items-top {
    position: absolute;
    left: 0;
    top: 0.3rem;
    z-index: 9;
    width: 100%;
    height: 3.98rem;
}

.blessing-list .blessing-items .items .items-top .user-info .avatar {
    flex: 0 0 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
}

.blessing-list .blessing-items .items .items-top .user-info .nick-name {
    line-height: 0.5rem;
    font-size: 0.18rem;
}

.blessing-list .blessing-items .items .items-top .praise {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.blessing-list .blessing-items .items .items-top .praise .number {
    float: right;
    color: #fff;
    font-size: 0.2rem;
    line-height: 0.35rem;
}

.blessing-list .blessing-items .items .items-top .praise .status {
    float: right;
    margin: 0 0.3rem 0 0.15rem;
    width: 0.41rem;
    height: 0.35rem;
    background: url(../images/default.png) no-repeat;
    background-size: 100% 100%;
}

.blessing-list .blessing-items .items .items-top .praise .status.active {
    background-image: url(../images/select.png);
}

.blessing-list .blessing-items .items .items-top .play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.26rem 0 0 -0.255rem;
    width: 0.51rem;
    height: 0.52rem;
    background: url(../images/paly.png) no-repeat;
    background-size: 100% 100%;
}

.blessing-list .blessing-items .items .items-top .play a {
    display: block;
    width: 100%;
    height: 100%;
}

.blessing-list .blessing-items .items .border {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: url(../images/border.png) no-repeat;
    background-size: 100% 100%;
}

.videobox {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.flex-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center
}

.progress-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.progress-wrapper .progress-box {
    width: 100%;
    height: 3px;
}

.progress-wrapper .progress-box .progress-inner-bar {
    width: 0;
    height: 3px;
    background: #09BB07;
}