<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
    <title>祝福视频</title>
    <link href="/static/css/app.4df408940d0f98ddc6c5e75a6e9dff18.css" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
    <audio autoplay="autoplay" style="display:none" loop="loop" id="bg-music" src="http://cdn1.u.h5mugeda.com/campaigns/5a58715b347a1955261a0ba4/20180113051622/5a59ce2092b579614b04a028/5a660118347a196a2e03e1f1.mp3">
<script type="text/javascript" src="/static/js/manifest.26f24cb90cd636ca5bbd.js"></script>
<script type="text/javascript" src="/static/js/vendor.df2451e453236757a321.js"></script>
<script type="text/javascript" src="/static/js/app.37e80de4a08f2274daae.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            function audioAutoPlay() {
                var audio = document.getElementById('bg-music');
                audio.play();
                document.addEventListener("WeixinJSBridgeReady", function() {
                    audio.play();
                }, false);
            }
            audioAutoPlay();
        });
    </script>
</body>
</html>