<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no">
  <title>祝福视频</title>
  <link href="/static/css/app.e155ac314d56e94cb6c663bd4bdb17a1.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/static/js/manifest.9fa2ff33ee3aef90d7e8.js"></script>
<script type="text/javascript" src="/static/js/vendor.0659f458c56f972e67eb.js"></script>
<script type="text/javascript" src="/static/js/app.06a70ecd95825fcf2474.js"></script>
</body>
</html>
